@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Josefin+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Bebas+Neue&family=Josefin+Sans&display=swap");


body {
  height: auto;
	width: auto;
  margin: 0;
  padding: 0;
	position: relative;
  background-image: url("images/plain-background.jpg");
  background-size: cover;
}


/* THE BASICS */

h1 {
	text-shadow: 2px 2px cyan;
	color: black;
	font-family: "Amatic SC", cursive;
}

/* DEFAULT BUTTON */
button {
	background-color: black;
	color: white;
	font-size: 15px;
	padding: 10px 30px;
	border-radius: 5px;
	margin: 5px 0px;
	cursor: pointer;
}


/* DELETE/"BAD" BUTTON */
.btn-no {
	background-color: magenta;
	color: white;
	border-radius: 5px;
	cursor: pointer;
	margin: 5px 0px;
	font-size: 15px;
}

/*THE GO-TO CONTAINER */
.container-2 {
	background: linear-gradient(to bottom, rgb(112, 176, 240), #f64c73);
	border-radius: 40px;
	border-color: black;
	position: relative;
}

.home-container-1 {
	background-color: cyan;
	border-radius: 100px;
	display: grid;
	justify-content: center;
}

/*DEFAULT BORDER (NEON) */

/* IMAGES */

/* HOME PAGE IMAGES */
.big-img {
	width: 400px;
	height: 400px;
	border-radius: 300px;
}
/* BASIC IMG */
.pic {
	width: auto;
	height: auto;
	border-radius: 0px;
}
/* DEFAULT IMG */
img {
	width: 200px;
	height: 200px;
	box-shadow: #06e3df;
	border-radius: 100px;
}
/* THUMBNAIL */
.sm-img {
	width: 100px;
	height: 100px;
	border-radius: 50px;
}

/*CAROSAL */
.d-block {
	width: auto;
	height: auto;
}

/*CARD DESIGN*/

.list-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center space-evenly
}

.list-container>div {
  flex-grow: 1;
  width: 33%;

}

.cocktail-card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  background-color: #06E3DF; opacity: 0.8;
  color: lightpink;
  border-radius: 5px;
  width: 250px;
  height: auto;
  padding: 10px;
  font-family: 'Amatic SC', cursive;
}


a:link {
  text-decoration: none;
}



 NAV BAR */
navbar {
	background-color: cyan;
}

.nav-link {
	font-family: "Bebas Neue", sans-serif;
}

.container-fluid {
	background-color: #f449da;
}


/*
 NAV BAR */
navbar {
	background-color: cyan;
}

.nav-link {
	font-family: "Bebas Neue", sans-serif;
}



.container-fluid {
	background-color: #f449da;
}

.title-container {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 500px;
	height: auto;
	margin: 15px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	background-color: #06e3df;
	color: rgb(250, 113, 133);
	border-radius: 5px;
	padding: 10px;
	text-shadow: none;
}



.App {
	text-align: center;
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.searchBar {
	width: 500px;
	height: 60px;
	width: 500px;
	height: 60px;
	padding: 10px;
	margin: 0 auto;
	margin-top: 50px;
	margin-bottom: 50px;
	box-shadow: 0 0 5px #00004d54;
}

.searchBarInputSelect {
	width: 100%;
	height: 100%;
	height: 100%;
	padding: 5px;
	margin-bottom: 10px;
}

.searchInput {
	width: 100%;
	height: 100%;
	padding: 5px;
	margin-bottom: 10px;
}



/* Top of Page Images */
.searchPageBoxStyle {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 250px;
	margin: 15px;
}

.searchPageImageStyle {
	width: 150px;
	height: 150px;
}

.searchPageSpanStyle {
	margin-top: 10px;
}

.search-container {
	display: flex;
	justify-content: space-between;
	flex-wrap: nowrap;
	overflow: auto;
}

.search-image-buttons-container {
	display: flex;
	justify-content: center;
	flex-wrap: nowrap;
}

.search-cards-container {
	position: relative;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-wrap: wrap;
	max-width: 960px;
	margin: 0 auto;
}

.search-card-container {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 230px;
	height: auto;
	margin: 15px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	background-color: rgba(0, 255, 255, 0.6);
	color: rgb(250, 113, 133);
	border-radius: 5px;
	padding: 10px;
	text-shadow: none;
}

.search-card-container h3 {
	margin-top: 15px;
}

.card-content {
	position: relative;
}

.favoriteIcon {
	width: 30px;
	height: 30px;
	cursor: pointer;
}

.favorite-button {
	position: absolute;
	top: 10px;
	right: 10px;
}

.shaddow {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.heartSvg {
	width: 100%;
	height: 100%;
}

@media screen and (max-width: 960px) {
	.search-card-container {
		width: calc((100% - 60px) / 3);
	}
}

@media screen and (max-width: 640px) {
	.search-card-container {
		width: calc(100% - 30px);
	}
}



.container-io {
	background: rgba(0, 0, 0, 0);
	border-radius: 40px;
}

.card-io {
	background: rgba(0, 0, 0, 0);
	border-radius: 40px
}

.search-results-container {
	height: 0px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: red;
	font-size: 20px;
	font-weight: bold;
}


/* Details css */

.detail-container {
	background: rgba(6, 227, 223, 0.6);
	border-radius: 40px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.detail-round-top {
	background: rgba(0, 0, 0, 0);
	border-radius: 40px 40px 0px 0px;
}

.detail-round-bot {
	border-radius: 0px 0px 40px 40px;
}

.detail-rate-button {
	background-color: #ffffcc
}

.detail-star-img {
	height: 25px;
	width: 25px;
}

.detail-cocktail-img {
	height: 350px;
	width: 350px;
}

.detail-rating-box {
	height: 115px;
}

.detail-text-box {
	background-color: white;
}

.detail-star {
	background: rgba(0, 0, 0, 0);
	border: 0px;
	height: 35px;
	width: 35px;
	padding: 5px;
}
